body {
    background-color: #282a36;
}
ul {
    list-style-type: none;
    font-size: 1.5em;
}

#section_title {
    color: white;	
}
#software-jumbotron {
    background-color: white;
}
a:link {
  text-decoration: none;
}
